{# base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
<div id="app">{% spaceless %}{% block body %}{% endblock %}{% endspaceless %}</div>
{% block javascripts %}
{% endblock %}
{% if app.environment == 'dev' %}
    <script src="http://localhost:35729/livereload.js"></script>
{% endif %}
</body>
</html>