{# admin/index.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/admin.css') }}">
{% endblock %}

{% block body %}
{{  redux_store('adminStore', initialState) }}
{{  react_component('AdminApp') }}
{% endblock %}

{% block javascripts %}
<script src="{{ asset('build/admin.js') }}"></script>
{% endblock %}