{# frontend/index.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/frontend.css') }}">
{% endblock %}

{% block body %}
{{  redux_store('appStore', initialState) }}
{{  react_component('App') }}
{% endblock %}

{% block javascripts %}
<script src="{{ asset('build/frontend.js') }}"></script>
{% endblock %}